# Jitsi Domain (for HTTPS)
JITSI_DOMAIN=meet.example.com

# Jitsi Secrets
JICOFO_COMPONENT_SECRET=secret
JICOFO_AUTH_PASSWORD=pass
JVB_AUTH_PASSWORD=pass
JVB_SECRET=secret

# Telegram Bot Token (from @BotFather)
TELEGRAM_TOKEN=5984008409:AAFg1wLbLV1SzUlX7AdcbDkwpBcAKKjGlOQ

# Matrix Bot Config (optional)
MATRIX_HOMESERVER=https://matrix.example.com
MATRIX_USER=@jitsi-bot:example.com
MATRIX_PASSWORD=your_password
MATRIX_ACCESS_TOKEN=